@font-face {
  font-family: Stick;
  src: url("./stick.otf") format("opentype");
}
@font-face {
  font-family: AbortedCorpse;
  src: url("./AbortedCorpse.otf") format("opentype");
}
body {
  background-color: #000;
  padding: 0px 12px;
  color: #BBB;
}
a:link {
  color: #888;
}
a:visited {
  color: #666;
}
h1 {
  font-family: Stick;
  padding-left: 2%;
  color: #966;
}
tr, td {
  padding: 1px 5px;
  vertical-align: top;
}
td:last-of-type {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #211;
}
tr.last {
  padding: 1px 5px;
  vertical-align: bottom;
  text-align: right;
  font-weight: bold;
  border-top: 3px solid black;
  color: #966;
  background-color: #000;
}
th:first-of-type {
  text-align: center;
  padding: 1px 5px;
}
th {
  text-align: left;
  padding: 1px 5px;
  color: #966;
}
img {
  padding-top: 20px;
  width: 350px;
}
