body {
  background-color: #eea;
  padding: 0px 12px;
}
h1 {
  padding-left: 2%;
  color: #FF8C00;
}
tr, td {
  padding: 1px 5px;
  vertical-align: top;
}
td:last-of-type {
  text-align: center;
}
tr.last {
  padding: 1px 5px;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  border-top: 1px solid black;
}
th:first-of-type {
  text-align: center;
  padding: 1px 5px;
}
th {
  text-align: left;
  padding: 1px 5px;
}
.column {
  float: left;
  width: 70%;
}
.left {
  width: 30%;
  padding-left: 10px;
}
.right {
  width: 60%;
  padding-left: 10px;
}/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  padding-bottom: 5px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
