body {
  background-color: #eee;
}
.gallery {
  display: grid;
  grid-template-rows: masonry;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 32px #622;
}
.gallery .content {
  padding: 8px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
